<div id="sideBar" class="shadow-sm bg-light d-none mt-3">
    <h3 class="btn btn-danger" id="logOut" (click)="logOut()" style="display: none;">تسجيل الخروج</h3>
    <h3 class="btn btn-light py-2" id="dbBtn" style="border-top: solid 1px teal;"><i class="fa fa-database pl-2"></i>البيانات</h3>
    <div>
        <button id="workersBtn" routerLink="/workers"  class="btn btn-light text-right" style="font-size: 1em;"><i class="fa fa-user fa-lg px-2" ></i>العاملين</button>
        <button id="customersBtn" routerLink="/customers"  class="btn btn-light text-right" style="font-size: 1em;"><i class="fa fa-users fa-lg px-2"></i>العملاء</button>
        <button id="unitesBtn" routerLink="/unites"  class="btn btn-light text-right" style="font-size: 1em;"><i class="fa fa-building fa-lg px-2"></i>الوحدات</button>
        <hr class="text-center text-info">
    </div>
    <h3 class="btn btn-light py-2" id="accBtn"><i class="fa fa-calculator pl-2"></i>حسابات</h3>
    <div>
        <button id="workersBtn" routerLink=""  class="btn btn-light text-right" style="font-size: 1em;"><i class="fa fa-user fa-lg px-2" ></i>المخازن</button>
        <button id="unitesBtn" routerLink=""  class="btn btn-light text-right"><i class="fa fa-building fa-lg px-2" style="font-size: 1 em;"></i>المرتبات</button>
        <button id="unitesBtn" routerLink=""  class="btn btn-light text-right"><i class="fa fa-building fa-lg px-2" style="font-size: 1 em;"></i>موردين</button>
        <button id="customersBtn" routerLink=""  class="btn btn-light text-right" style="font-size: 1em;"><i class="fa fa-users fa-lg px-2"></i>عملاء</button>
        <hr class="text-center text-info">
    </div>
    <h3 class="btn btn-light py-2" id="accBtn" routerLink="/MainSetting"><i class="fa fa-cog pl-2"></i>الاعدادات</h3>
</div>