body {
    position: relative;
}
/* --- new
#sideBar {
    position: absolute;
    top: 0;
    //bottom: 0;
    left: 0;
    right: 0;
}

#sideBar button {
    width: 100%;
    //height: 40px;
    padding-right: 5px;
    overflow: hidden;
}
h3 {
    width: 100%;
    //height: 50px;
    font-size: 1.2em;
    overflow: hidden;
}
.ch3 {
    border: solid 1px teal;
}*/

#sideBar div {
    display: none;
};

#sidebar {
    //margin-top: 50px;
    height: 0px;
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999999;
};

#sidebar button {
    width: 100%;
    padding-left: 15px;
    height: 50px;
};

.pFixed {
    position: fixed;
    //height:100%;
    overflow: hidden;
}

#fadeEffect {
    display: none;
    //position: absolute;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 7, 7, 0.95);
    //background-color: rgba(0, 0, 0, 0.938);
    z-index: 99999999999999;
}