@import "../../scss/varibals.scss";

$borderColor: rgba(0, 7, 7, 0.95); //white;

body {
  position: relative;
}

#sideBar div {
  display: none;
}

#sidebar {
  //margin-top: 50px;
  height: 0px;
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999999999;
  @media (max-width: $maxMediam) {
    position: relative !important;
    font-size: medium !important;
  }
}

#sidebar button {
  width: 100%;
  padding-left: 15px;
  height: 50px;
  @media (max-width: $maxMediam) {
    font-size: medium !important;
  }
}

.pFixed {
  position: fixed;
  //height:100%;
  overflow: hidden;
}

#sidebarToggle {
  cursor: pointer;
  font-size: 35px;
  z-index: 99999999999999;
  display: none;
  color: $primaryBg;
  margin-top: 10px;
  background-color: rgb(241, 242, 246);
  right: 0;
  padding: 10px;
  //padding-right: 15px;
}

.box {
  padding-top: 0px;
}
