<div id="fadeBackupDone" (click)="fadeEffect()" class="fadeLayer">
    <div class="container p-3 card askForDelete" style="display: none;" id="backupDone">
        <h1 class="p-3 bg-info text-white">تم حفظ النسخة الاحتياطية</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">اسم الملف</th>
                    <td style="direction: ltr;">{{backupMsg}}</td>
                </tr>
                <tr>
                    <th scope="row">مكان الحفظ</th>
                    <td style="direction: ltr;">{{backupPath}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-info" id="hideBackupDone" (click)='hideBackUpDone()'>تم</button>
    </div>
</div>
<div id="fadeEffect" (click)="fadeEffect()" class="fadeLayer"></div>

<!-- the toggleBtn -->
<i (click)="sidebarToggle()" id="sidebarToggle" class="fa fa-align-justify nav"></i>

<!-- the sideBar Card -->
<div id="sidebar" class="bg-light ml-2">
    <div class="p-2">
        <div id="sidebarBtns" style="display: none;">
            <!--style="display: none;"-->
            <!--logOut-->
            <button class="btn btn-outline-danger mainBtns" id="logOut" (click)="logOut()" style="display: none;">تسجيل
                الخروج</button>
            <hr class="text-center text-dark">
            <!--dbBtn-->
            <button class="btn btn-light py-2 ch3 mt-1 mainBtns" id="dbBtn"
                style="border: solid 1px rgb(26, 51, 70);"><i class="fa fa-database pl-2"></i>البيانات</button>
            <div class="my-1 secDiv">
                <button id="workersBtn" routerLink="/workers" (click)='secButtonClick("workersBtn")'
                    class="secButton btn btn-light text-right" style="font-size: 1em;"><i
                        class="fa fa-user fa-lg px-2"></i>العاملين</button>
                <button id="unitesBtn" routerLink="/unites" (click)='secButtonClick("unitesBtn")'
                    class="secButton btn btn-light text-right" style="font-size: 1em;"><i
                        class="fa fa-building fa-lg px-2"></i>الوحدات</button>
            </div>
            <hr class="text-center text-dark">
            <!--accBtn-->
            <button class="btn btn-light py-2 ch3 mt-1 mainBtns" id="accBtn"
                style="border: solid 1px rgb(26, 51, 70);"><i class="fa fa-calculator pl-2"></i>حسابات</button>
            <div class="my-1 secDiv">
                <button id="stocksBtn" routerLink="/stocks" (click)='secButtonClick("stocksBtn")'
                    class="secButton btn btn-light text-right" style="font-size: 1em;"><i
                        class="fa fa-cubes fa-lg px-2"></i>المخازن</button>
                <button id="safeAccBtn" routerLink="/safe-acc" (click)='secButtonClick("safeAccBtn")'
                    class="secButton btn btn-light text-right"><i class="fa fa-building fa-lg px-2"
                        style="font-size: 1 em;"></i>الخزنة</button>
                <button id="customersBtn" routerLink="/customers" (click)='secButtonClick("customersBtn")'
                    class="secButton btn btn-light text-right" style="font-size: 1em;"><i
                        class="fa fa-users fa-lg px-2"></i>العملاء</button>
            </div>
            <hr class="text-center text-dark">
            <!--MainSettingBtn-->
            <button class="btn btn-light py-2 ch3 mt-1 mainBtns" id="SettBtn"
                style="border: solid 1px rgb(26, 51, 70);"><i class="fa fa-cog pl-2"></i>الاعدادات</button>
            <div class="my-1 secDiv">
                <button class="secButton btn btn-light text-success text-right" id="backupBtn" (click)="backup()"><i
                    class="fa fa-cog pl-2"></i>انشاء
                نسخة احتياطية</button>
            <button class="secButton btn btn-light text-right" id="MainSettingBtn" routerLink="/MainSetting"><i
                    class="fa fa-cog pl-2"></i>الاعدادات العامة</button>
            </div>
        </div>
    </div>
</div>