<div class="box inpCard mt-3" id="addWorkerInside">
    <div class="p-3">
        <h2 class="pb-3 cardHeader">اضافة بيانات مخزن</h2>
        <hr >
        <form [formGroup]='stockData' (ngSubmit)="addNewStock()" class="pt-3">
            <div class="form-row mb-5">
                <input formControlName="stockId" id="stockId" class="form-control d-none">
                <div class="col">
                    <label>اسم المخزن</label>
                    <input formControlName="stockName" [(ngModel)]="_stockService.stockDataView.stockName" id="stockName"
                        class="form-control">
                </div>
                <div class="col">
                    <label>امين المخزن</label>
                    <input formControlName="stockEmployee" [(ngModel)]="_stockService.stockDataView.stockEmployee" id="stockEmployee"
                        class="form-control">
                </div>
                <div class="col">
                    <label>عنوان المخزن</label>
                    <input formControlName="stockPlace" [(ngModel)]="_stockService.stockDataView.stockPlace" id="stockPlace"
                        class="form-control">
                </div>
            </div>
            <hr>
            <button class="btn btnPrimary mt-2 ml-2" type="submit" id="addNewStockBtn">اضافة</button>
        </form>
    </div>
</div>
