<!--fadeLayer-->
<div class="fadeLayer" id="theStockFadeLayer">
    <div class="container p-3 card askForDelete" style="display: none; width: 35%;" id="askForDeleteStock">
        <h3 class="p-3 alert alert-danger">تحذير!</h3> <!-- تحذير! هل انت متأكد من حذف -->
        <h6>هل انت متأكد من حذف {{_stockService.stockDataView.stockName}}</h6>
        <!-- <h4 class="mb-2">
            {{_stockService.stockDataView.stockName}}
        </h4> -->
        <p class="smokeBg p-2">{{deleteMsg}}</p>
        <hr>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-outline-danger mr-2" id="deleteStock" (click)="deleteStock()">نعم</button>
            <button class="btn btn-outline-info" id="hideFadeLayer">الغاء</button>
        </div>
    </div>
    <div class="container card p-3 askForDelete" style="display: none; width: 40%;" id="stockPerDone">
        <h3 class="bg-info text-white p-3">تم تسجيل "{{_stockService.invoiceDoneMsg.invoiceKind}}"</h3>
        <!--  -->
        <hr>
        <div class="row">
            <div class="col">
                <div class="pt-3 font-weight-bolder px-3 doneInfo">
                    <div class="form-inline">
                        <p>من | </p>
                        <p class="text-info pr-2"> {{_stockService.invoiceDoneMsg.from}} </p>
                    </div>
                    <div class="form-inline">
                        <p>اجمالى | </p>
                        <p class="text-info pr-2"> {{_stockService.invoiceDoneMsg.invoiceVal}} </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="pt-3 font-weight-bolder px-3 doneInfo">
                    <div class="form-inline">
                        <p>الى | </p>
                        <p class="text-info pr-2"> {{_stockService.invoiceDoneMsg.to}} </p>
                    </div>
                    <div class="form-inline">
                        <p>ملاحظات | </p>
                        <p class="text-info pr-2"> {{_stockService.invoiceDoneMsg.invoiceNote}} </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-row">
            <!--fade_addNewApBtn-->
            <button class="btn btn-outline-info ml-2 fadeBtns" id="fade_addNewApBtn"
                (click)="showAddToStockPrem_fade()">فاتورة شراء جديدة</button>
            <!--fade_minNewApBtn-->
            <button class="btn btn-outline-info ml-2 fadeBtns" id="fade_minNewApBtn"
                (click)="showMinToStockPrem_fade()">فاتورة بيع جديدة</button>
            <!--fade_showTranceStockPrem-->
            <button class="btn btn-outline-info ml-2 fadeBtns" id="fade_showTranceStockPrem"
                (click)="showTranceStockPrem_fade()">اذن مخزن جديد</button>
            <!--backToTheStart-showTranceStockPrem-->
            <button class="btn btn-outline-secondary" id="Hidefade_addNewApBtn"
                (click)='showStocksEnquiry_fade()'>الرئيسية</button>
        </div>
    </div>
</div>
<!--header-->
<div class="navHeader theNav" id="mainStockHeader">
    <nav class="navbar">
        <div class="form-inline">
            <h1 class="px-2" style="font-weight: bold;">المخازن</h1>
            <div class="headerLeftBorder"></div>
            <!--stocks-->
            <!-- height: 70px; -->
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle mx-2 headerMainBtn" type="button" id="stockBtn"
                    style=" font-size: 1.5em;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    بيانات المخازن
                </button>
                <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton">
                    <div class="dropDownItemBorder">
                        <button class="dropdown-item btn-secondary text-right" id="showStocksEnquiry"
                            (click)="showStocksEnquiry()">جرد مخازن</button>
                        <button class="dropdown-item btn-secondary text-right" id="showAddNewStock"
                            (click)="showAddNewStock()">اضافة
                            مخزن</button>
                    </div>
                    <!--products-->
                    <div>
                        <button class="dropdown-item btn-secondary text-right" id="showAddNewProduct"
                            (click)="showAddNewProduct()">اضافة صنف</button>
                        <button class="dropdown-item btn-secondary text-right" id="showProductsReport"
                            (click)="showProductsReport()">تقرير حركة صنف</button>
                    </div>
                </div>

            </div>
            <!--premissionInvoice-->
            <!-- style="height: 70px;" -->
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle mx-2 headerMainBtn" type="button" id="premissionBtn"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    فواتير
                </button>
                <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item btn-secondary text-right" id="showAddToStockPrem"
                        (click)="showAddToStockPrem()">فاتورة شراء</button>
                    <button class="dropdown-item btn-secondary text-right" id="showMinToStockPrem"
                        (click)="showMinToStockPrem()">فاتور بيع</button>
                    <button class="dropdown-item btn-secondary text-right" id="showTranceStockPrem"
                        (click)="showTranceStockPrem()">اذن مخزن</button>
                </div>
            </div>
            <button class="btn btn-light mx-2 headerMainBtn" id="showProfitsBtn"
                (click)="showProfits()">الارباح</button>
            <button class="btn btn-success mx-2 d-none" id="testBtn" (click)='testbtn()'>test</button>
            <div class="headerLeftBorder"></div>
            <input *ngIf="router.url === '/stocks'" [(ngModel)]="searchTxt" placeholder="بحث" class="form-control mx-3"
                id="stocksSearch">
        </div>
    </nav>
</div>
<!--stocksEnquiry-->
<app-enquire-stocks class="stocksClass mainContainer" id="stocksEnquiry" style="display: block;"></app-enquire-stocks>
<!--addNewStock-->
<app-add-stocks class="stocksClass mainContainer" id="addNewStock"></app-add-stocks>
<!--addNewProduct-->
<app-add-products class="stocksClass mainContainer" id="addNewProduct"></app-add-products>
<!--productsReport-->
<app-products-report class="stocksClass mainContainer" id="productsReport"></app-products-report>
<!--stockDtails-->
<app-stock-details class="stocksClass mainContainer" id="stockDtails"></app-stock-details>
<!--addToStockPrem-->
<app-add-to-stock-permission class="stocksClass mainContainer" id="addToStockPrem"></app-add-to-stock-permission>
<!--minFrmStockPrem-->
<app-min-frm-stock-permission class="stocksClass mainContainer" id="minFrmStockPrem"></app-min-frm-stock-permission>
<!--tranceFrmStockPrem-->
<app-stoc-trance-prem class="stocksClass mainContainer" id="tranceFrmStockPrem"></app-stoc-trance-prem>
<!-- profits -->
<app-profits class="stocksClass mainContainer" id="profits"></app-profits>