<!--fadeLayer-->
<div class="fadeLayer" id="theStockFadeLayer">
    <div class="container p-3 card askForDelete" style="display: none;" id="askForDeleteStock">
        <h3 class="p-3 bg-danger text-light">هل انت متأكد من حذف</h3>
        <h4 class="mb-2">
            {{_stockService.stockDataView.stockName}}
        </h4>
        <hr>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-danger mr-2" id="deleteStock" (click)="deleteStock()">نعم</button>
            <button class="btn btn-outline-info" id="hideFadeLayer">الغاء</button>
        </div>
    </div>
    <div class="container p-3 card askForDelete" style="display: none;" id="stockPerDone">
        <h3>تم التسجيل بنجاح</h3>
        <hr>
        <div class="d-flex flex-row-reverse">
            <!--fade_addNewApBtn-->
            <button class="btn btn-outline-info mr-2 fadeBtns" id="fade_addNewApBtn" (click)="showAddToStockPrem_fade()">فاتورة شراء جديدة</button>
            <!--fade_minNewApBtn-->
            <button class="btn btn-outline-info mr-2 fadeBtns" id="fade_minNewApBtn" (click)="showMinToStockPrem()">فاتورة بيع جديدة</button>
            <!--fade_showTranceStockPrem-->
            <button class="btn btn-outline-info mr-2 fadeBtns" id="fade_showTranceStockPrem" (click)="showTranceStockPrem()">اذن نقل جديدة</button>
            <!--backToTheStart-showTranceStockPrem-->
            <button class="btn btn-outline-secondary" id="Hidefade_addNewApBtn" (click)='showStocksEnquiry_fade()'>الرئيسية</button>
        </div>
    </div>
</div>
<!--header-->
<div class="container-fluid p-3 card mt-3 navHeader sticky-top" id="mainStockHeader">
    <nav class="navbar">
        <div class="form-inline">
            <h1 class="px-2" style="font-weight: bold;">المخازن</h1>
            <div class="headerLeftBorder"></div>
            <!--stocks-->
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle mx-2" type="button" id="stockBtn"
                    style="height: 70px; font-size: 1.5em;" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    بيانات المخازن
                </button>
                <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton">
                    <div class="dropDownItemBorder">
                        <button class="dropdown-item text-right btn-outline-secondary" id="showStocksEnquiry"
                            (click)="showStocksEnquiry()">جرد مخازن</button>
                        <button class="dropdown-item text-right btn-outline-secondary" id="showAddNewStock" (click)="showAddNewStock()">اضافة
                            مخزن</button>
                    </div>
                    <!--products-->
                    <div>
                        <button class="dropdown-item text-right btn-outline-secondary" id="showAddNewProduct"
                            (click)="showAddNewProduct()">اضافة صنف</button>
                        <button class="dropdown-item text-right btn-outline-secondary" id="showProductsReport"
                            (click)="showProductsReport()">تقرير حركة صنف</button>
                    </div>
                </div>
            </div>
            <!--premissionInvoice-->
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle mx-2" type="button" id="premissionBtn" style="height: 70px;"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    فواتير
                </button>
                <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item text-right btn-outline-secondary" id="showAddToStockPrem"
                        (click)="showAddToStockPrem()">فاتورة شراء</button>
                    <button class="dropdown-item text-right btn-outline-secondary" id="showMinToStockPrem"
                        (click)="showMinToStockPrem()">فاتور بيع</button>
                    <button class="dropdown-item text-right btn-outline-secondary" id="showTranceStockPrem"
                        (click)="showTranceStockPrem()">اذن نقل</button>
                </div>
            </div>
            <button class="btn btn-success mx-2 d-none" id="testBtn" (click)='testbtn()'>test</button>
            <div class="headerLeftBorder"></div>
            <input *ngIf="router.url === '/stocks'" [(ngModel)]="searchTxt" placeholder="بحث" class="form-control mx-3"
                id="stocksSearch">
        </div>
    </nav>
</div>
<!--stocksEnquiry-->
<app-enquire-stocks class="stocksClass" id="stocksEnquiry" style="display: block;"></app-enquire-stocks>
<!--addNewStock-->
<app-add-stocks class="stocksClass" id="addNewStock"></app-add-stocks>
<!--addNewProduct-->
<app-add-products class="stocksClass" id="addNewProduct"></app-add-products>
<!--productsReport-->
<app-products-report class="stocksClass" id="productsReport"></app-products-report>
<!--stockDtails-->
<app-stock-details class="stocksClass" id="stockDtails"></app-stock-details>
<!--addToStockPrem-->
<app-add-to-stock-permission class="stocksClass" id="addToStockPrem"></app-add-to-stock-permission>
<!--minFrmStockPrem-->
<app-min-frm-stock-permission class="stocksClass" id="minFrmStockPrem"></app-min-frm-stock-permission>
<!--tranceFrmStockPrem-->
<app-stoc-trance-prem class="stocksClass" id="tranceFrmStockPrem"></app-stoc-trance-prem>