<!--onlyForm-->
<div class="container-fluid card inpCard  mt-3 p-5">
    <form [formGroup]='productData' (ngSubmit)="addNewProduct()" class="pt-3">
        <div class="row">
            <input formControlName="productId" id="productId" class="form-control d-none">
            <div class="form-group col-md-6">
                <label>اسم الصنف</label>
                <input formControlName="productName" [(ngModel)]="_stockService.productDataView.productName"
                    id="productName" class="form-control" (keyup)='isProductNameVaild()'>
                <div id="productNameAlert" *ngIf='_theStockComp.productNameVaild' class="text-danger">
                    {{productNameAlert}}</div>
            </div>
        </div>
        <button [disabled]="addProductFormVaild" class="btn btn-outline-info ml-2" type="submit"
            id="addNewProductBtn">اضافة</button>
    </form>
</div>