<!--towersEnquiry-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-2">
            <div class="box mt-3">
                <h2 class="cardHeader">بيانات الابراج</h2>
                <hr>
                <div class="panel-body panel-flex-table tableWithHeader">
                    <table class="flex-table table table-hover">
                        <thead class="navHeader text-light">
                            <tr>
                                <th>رقم البرج</th>
                                <th>المرحلة</th>
                                <!-- <th>بيانات</th> -->
                            </tr>
                        </thead>
                        <tbody class="mt-3 tableBody">
                            <tr *ngFor="let tower of towerDataArr">
                                <td class="textBtn btn-outline-secondary" id="showTowerDetails"
                                (click)="showTowerDetails(tower)">{{tower.towerName}}</td>
                                <td>{{tower.towerStage}}</td>
                                <!-- <td class="textBtn btn-outline-success ml-2" id="showTowerDetails"
                                        (click)="showTowerDetails(tower)"><i class="fa fa-edit"></i></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="mt-3">
                <app-tower-details class="unitsClass" id="towerDetails"></app-tower-details>
            </div>

        </div>
    </div>
</div>