<!--fadeLayer-->
<div class="fadeLayer" id="theSafeFadeLayer">
    <div class="container p-3 card askForDelete" style="display: none;">
        <h3 class="p-3 alert-danger">هل انت متأكد من حذف</h3>
        <hr>
    </div>
    <div class="container card askForDelete p-3" id="SafeReceiptDone" style="width: 40%;">
        <h3 class="p-3 bg-info text-light">تم حفظ الايصال رقم ({{_safeDataService.receiptDoneMsg.recieptNum()}})</h3>
        <hr>
        <div class="row">
            <div class="col">
                <div class="pt-3 font-weight-bolder px-3 {{_safeDataService.receiptDoneMsg.fstCss}}"
                    style="border-radius: 5px; box-shadow: none;">
                    <div class="form-inline">
                        <p>من | </p>
                        <p class="{{_safeDataService.receiptDoneMsg.from.css}} pr-2"> {{_safeDataService.receiptDoneMsg.from.text()}} </p>
                    </div>
                    <div class="form-inline">
                        <p>اجمالى | </p>
                        <p class="{{_safeDataService.receiptDoneMsg.from.css}} pr-2"> {{_safeDataService.receiptDoneMsg.val}} </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="pt-3 font-weight-bolder px-3 {{_safeDataService.receiptDoneMsg.sndCss}}"
                    style="border-radius: 5px; box-shadow: none;">
                    <div class="form-inline">
                        <p>الى | </p>
                        <p class="{{_safeDataService.receiptDoneMsg.to.css}} pr-2"> {{_safeDataService.receiptDoneMsg.to.text()}} </p>
                    </div>
                    <div class="form-inline">
                        <p>ملاحظات | </p>
                        <p class="{{_safeDataService.receiptDoneMsg.to.css}} pr-2"> {{_safeDataService.receiptDoneMsg.notes}} </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-row">
            <button class="btn btn-outline-info ml-2 fadeBtns" id="showAddSafeReceipt_fade"
                (click)="showAddNewRecipt_fade()">ايصال جديد</button>
            <button class="btn btn-outline-secondary" id="hideFadeLayer"
                (click)="showSafeEnquir_fade()">الرئيسية</button>
        </div>
    </div>
</div>
<!--header-->
<!-- height: 70px; -->
<div class="navHeader theNav" id="mainStockHeader">
    <nav class="navbar">
        <div class="form-inline">
            <h1 class="px-2" style="font-weight: bold;">حساب خزنة</h1>
            <div class="headerLeftBorder"></div>
            <button style="font-size: 1.5em;" class="btn btn-outline-secondary ml-2 mx-2 headerMainBtn" id="showSafeBtn"
                (click)="showSafeEnquir()" disabled>استعلام</button>
            <button class="btn btn-light ml-2 mx-2 headerMainBtn" id="showAddSafeBtn"
                (click)="showAddSafe()">اضافة خزنة</button>
            <button class="btn btn-light ml-2 mx-2 headerMainBtn" id="showAddSafeReceipt"
                (click)="showAddSafeReceipt()">ايصال نقدية</button>
        </div>
    </nav>
</div>
<!--addSafe-->
<app-add-safe class="safeClass mainContainer" id="addSafe"></app-add-safe>
<!--enquireSafe-->
<app-enquire-safe class="safeClass mainContainer" id="enquireSafe" style="display: block;"></app-enquire-safe>
<!--safeReceipt-->
<app-safe-receipt class="safeClass mainContainer" id="safeReceipt"></app-safe-receipt>
<!--safeTransaction-->
<app-safe-transaction class="safeClass mainContainer" id="safeTransaction"></app-safe-transaction>