body {
    position: relative;
}

#addWorker {
    display: none;
}
/*
#workerEnquiry {
    overflow: auto;
    height: 730px;
}*/
/*
#addWorkerSalaryDetails {
    position: absolute;
    right: 20%;
    left: 20%;
    top: 50px;
    z-index: 999;
    display: none;
    background-color: whitesmoke;
}*/
#salaryCount {
    display: none;
}