<!--table-->
<div class="container-fluid">
    <div class="row" style="padding-left: 20px;">
        <div class="col-md-2 ">
            <div class="stickyInp cardBorderY">
                <div class="card">
                    <div class="panel-body panel-flex-table standTable" style="height: fit-content;">
                        <table class="flex-table table table-hover">
                            <thead class="navHeader">
                                <tr>
                                    <th class="text-center">اسم المخزن</th>
                                </tr>
                            </thead>
                            <tbody class=" mt-3 tableBody">
                                <tr *ngFor="let stock of _stockService.stocks; let i = index">
                                    <td class="btn btn-light chooseBtn" id="showStockProfits{{i}}"
                                        (click)="showProfitOptions(stock,i)" style="flex: 3;">{{stock.stockName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="totalProfits" style="display: none;">
                    <div class="card mt-2 p-2" id="searchProd">
                        <input [(ngModel)]="searchProd" placeholder="بحث باسم الصنف" class="form-control mb-2">
                    </div>
                    <div class="card mt-2 p-2">
                        <table class="table table-hover">
                            <thead class="navHeader">
                                <tr>
                                    <th scope="col">بيان</th>
                                    <th scope="col">قيمة</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">ارباح</th>
                                    <td class="bg-success text-light">{{totalAdd}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">خسائر</th>
                                    <td class="bg-danger text-light">{{totalMin}}</td>
                                </tr>
                                <tr class="smokeBg">
                                    <th scope="row">مصاريف عمال</th>
                                    <td>{{employeeExpence}}</td>
                                </tr>
                                <tr class="bottomBorder smokeBg" style="border-bottom: solid 2px black;">
                                    <th scope="row">مصاريف متنوعة</th>
                                    <td>{{otherExpence}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">صافى</th>
                                    <td class="lightBg p-2">{{totalProfit}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <button *ngIf='filtered' class="btn btn-outline-primary m-2" id="showProfitsPreBtn"
                            (click)='toggleStockProfits(stockInfo)'>تفاصيل حركة
                            البيع</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 cardBorderY inpCard_row pb-3" style="display: none;" id="howIsProfits">
            <h3 class="mt-3 cardHeader">ارباح اصناف {{theStockName}}</h3>
            <hr>
            <div class="form-inline" id="makeDateNullBtn" style="display: none;">
                <div class="text-danger mb-3">يمكنك حذف قيم التاريخ لاظهار كامل تفاصيل ارباح المدة بالضغط</div>
                <div class="cardHeader pr-1 mb-3" style="cursor: pointer;" (click)='makeDateNull()'>هنا</div>
            </div>
            <div class="row mb-3">
                <div class="form-group col">
                    <label for="dateSortFrom">من تاريخ</label>
                    <div class="input-group">
                        <input type="date" id="dateSortFrom" class="form-control" name="dateSortFrom"
                            [(ngModel)]='dateSortFrom' (change)='dateChanged()'>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="dateSortTo">الى تاريخ</label>
                    <div class="input-group">
                        <input type="date" id="dateSortTo" class="form-control" name="dateSortTo"
                            [(ngModel)]='dateSortTo' (change)='dateChanged()'>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-info" (click)='showStockProfits()'>عرض الارباح</button>
            </div>

        </div>

        <!-- productProfits -->
        <div class="col-md-10 cardBorderY pt-3 smokeBg" style="display: none; overflow-y: auto;" id="productProfits">
            <div id="profitDetails" class="panel-body">
                <div *ngFor='let product of profitArr|searchProdProfit:searchProd; let i = index'
                    class="row mb-3 bg-light" style="padding: 10px 0;">
                    <div class="col-md-1 darkGrayBg shadow-lg" style="text-align: center; border-radius: 5px;">
                        <div class="text-center">
                            <h3 class="text-center pt-3">{{product.name}}</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="shadow card smokeBg">
                            <div class="panel-body panel-flex-table standTable"
                                style="height: 100%; margin-top: 0px; margin-bottom: 5px;">
                                <table class="flex-table table table-hover">
                                    <thead class="navHeader">
                                        <tr>
                                            <th scope="col">السعر</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table Body" style="overflow-y: hidden;">
                                        <div id="soldProds">
                                            <tr class="bg-secondary text-white">
                                                <td></td>
                                                <th scope="row">
                                                    شراء
                                                </th>
                                                <th scope="row">
                                                    بيع
                                                </th>
                                            </tr>
                                            <tr class="text-success">
                                                <th>
                                                    <i class="fa fa-caret-up pl-2"></i>
                                                    اعلى
                                                </th>
                                                <td>{{product.in.maxPrice}}</td>
                                                <td>{{product.sold.maxPrice}}</td>
                                            </tr>
                                            <!--  -->
                                            <tr class="text-primary">
                                                <th class="darkGrayBg">
                                                    <i class="fa fa-sort"></i>
                                                    متوسط
                                                </th>
                                                <td class="darkGrayBg">{{product.in.avr}}</td>
                                                <td class="darkGrayBg">{{product.sold.avr}}</td>
                                            </tr>
                                            <tr class="text-danger">
                                                <th>
                                                    <i class="fa fa-caret-down pl-2"></i>
                                                    اقل
                                                </th>
                                                <td>{{product.in.minPrice}}</td>
                                                <td>{{product.sold.minPrice}}</td>
                                            </tr>
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- secCard -->
                    <div *ngIf='!filtered' class="col-md-3">
                        <div class="card shadow smokeBg">
                            <div class="panel-body panel-flex-table standTable"
                                style="height: 100%; margin-top: 0px; margin-bottom: 5px;">
                                <table class="flex-table table table-hover">
                                    <thead class="navHeader">
                                        <tr>
                                            <th scope="col">بيان</th>
                                            <th scope="col">كمية</th>
                                            <th scope="col">قيمة</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table Body" style="overflow-y: hidden;">
                                        <tr class="bg-secondary text-white">
                                            <th scope="row">متاح</th>
                                            <td>{{product.qtyRemain()}}</td>
                                            <td>{{product.qtyRemainVal}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">شراء</th>
                                            <td>{{product.in.qty}}</td>
                                            <td>{{product.in.qtyVal}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">بيع</th>
                                            <td>{{product.sold.qty}}</td>
                                            <td>{{product.sold.qtyVal}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div *ngIf='product.qtyRemain() == 0 || filtered' class="col-md-5">
                        <div class="card shadow smokeBg">
                            <div class="panel-body panel-flex-table standTable"
                                style="height: 100%; margin-top: 0px; margin-bottom: 5px;">
                                <table class="flex-table table">
                                    <thead>
                                        <tr class="navHeader">
                                            <th scope="col" style="flex: 2;">{{product.profits.profitCond()}} رصيد مباع
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th>{{product.profits.perc()}}</th>
                                            <th class="{{product.profits.profitsColor()}}">{{product.profits.profit}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="table Body" style="overflow-y: hidden;">
                                        <tr class="text-center">
                                            <th>{{product.onlyProfitMsg()}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div *ngIf='product.qtyRemain() != 0 && !filtered' class="col-md-5">
                        <div class="card shadow smokeBg">
                            <div class="panel-body panel-flex-table standTable"
                                style="height: 100%; margin-top: 0px; margin-bottom: 5px;">
                                <table class="flex-table table">
                                    <thead class="bg-secondary text-white">
                                        <tr class="navHeader text-center">
                                            <th>ارباح رصيد باقى</th>
                                        </tr>
                                        <tr>
                                            <th scope="col" style="flex: 2;">بيان</th>
                                            <th scope="col">سعر</th>
                                            <th scope="col">متوقعة</th>
                                            <th scope="col">ربحية</th>
                                            <th scope="col">اجمالى ربح</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table Body" style="overflow-y: hidden;">

                                        <tr class="bottomBorder">
                                            <th scope="row" style="flex: 2;">اخر سعر بيع</th>
                                            <td>{{product.sold.lastPrice()}}</td>
                                            <td class="{{product.profitLastPrice.color()}}">
                                                {{product.profitLastPrice.val()}}</td>
                                            <td class="{{product.profitLastPrice.color()}}">
                                                {{product.profitLastPrice.percentage()}}</td>
                                            <td class="{{product.profitLastPrice.total.color()}}">
                                                {{product.profitLastPrice.total.val()}}</td>
                                        </tr>
                                        <tr class="darkGrayBg">
                                            <th scope="row" style="flex: 2;">سعر موصى به</th>
                                            <td>{{product.recommendedPrice.price()}}</td>
                                            <td>{{product.recommendedPrice.profit()}}</td>
                                            <td>{{product.recommendedPrice.percentage()}}</td>
                                            <td scope="col" class="{{product.recommendedPrice.total.color()}}">
                                                {{product.recommendedPrice.total.val()}}</td>
                                        </tr>
                                        <tr class="navHeader">
                                            <th scope="col" style="flex: 2;">{{product.profits.profitCond()}} رصيد مباع
                                            </th>
                                            <td></td>
                                            <td></td>
                                            <td>{{product.profits.perc()}}</td>
                                            <td class="{{product.profits.profitsColor()}}">{{product.profits.profit}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10" id='customersProfits' style="display: none;">
            <div class="cardBorderY">
                <div class="card" id="profitDetails">
                    <!-- style="height: 950px;" -->
                    <div class="panel-body panel-flex-table">
                        <table class="flex-table table table-hover">
                            <thead class="navHeader">
                                <tr>
                                    <th>التاريخ</th>
                                    <th>رقم الفاتورة</th>
                                    <th style="flex: 2;">اسم العميل</th>
                                    <th style="flex: 2;">الصنف</th>
                                    <th>العدد</th>
                                    <th>شراء</th>
                                    <th>بيع</th>
                                    <th>ربح</th>
                                    <th>اجمالى ربح</th>
                                </tr>
                            </thead>
                            <tbody class=" mt-3 tableBody">
                                <tr *ngFor='let profit of profitArrCust; let i = index'>
                                    <td>{{profit.date}}</td>
                                    <td>{{profit.invNumber}}</td>
                                    <td style="flex: 2;">{{profit.customerName}}</td>
                                    <td style="flex: 2;">{{profit.productName}}</td>
                                    <td>{{profit.Qty}}</td>
                                    <td>{{profit.productCost}}</td>
                                    <td>{{profit.price}}</td>
                                    <td class="{{profit.color}}">{{profit.unitProfit}}</td>
                                    <td class="{{profit.colorTotal}}">{{profit.totalProfit}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>