#totalProfits {
    th,
    td {
        padding-top: 10px;
        padding-bottom: 7px;
        text-align: center;
    }
}
thead {
    //position: relative;
    top: 0px;
}

.textBtn :active {
    background-color: white;
}

@media print {
    #productProfits {
        overflow-y: hidden;
    }
}
