/* .card {
    tr {
        th,td {
            text-align: center;
            height: 43px;
    }
}};

h5 {
    text-align: center;
}; */

#totalProfits {
    
    th,td {
        padding-top: 10px;
        padding-bottom: 7px;
        text-align: center;
    }
}
thead {
    //position: relative;
    top: 0px;
}

@media print {
    #productProfits {overflow-y: hidden;}
}