<!--fadeLayer-->
<div class="fadeLayer" id="fadeLayerAP">
    <div class="container p-3 card askForDelete">
        <h3 class="p-3 bg-danger text-light">هل انت متأكد من حذف</h3>
        <h4 class="mb-2">
            <!--{{_stockService.stockDataView.stockName}}-->
        </h4>
        <hr>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-outline-danger mr-2" id="deleteAddPrem" (click)="deleteAddInvoice()">نعم</button>
            <button class="btn btn-outline-info" id="hideFadeLayerAP">الغاء</button>
        </div>
    </div>
</div>

<!--onlyForm-->
<div class="card inpCard p-3" id="headerAddInv">
    <div class="form-inline" id="callInvoice">
        <h2 class="cardHeader">فاتورة شراء</h2>
        <div class="headerLeftBorder mr-2"></div>
        <!--<input [(ngModel)]="searchTxt" placeholder="بحث" class="form-control mx-3" id="addInvoiceSearch">-->
        <input type="search" name="searchTxt" [(ngModel)]="searchTxt" class="form-control mdb-autocomplete mx-3"
            list="datalistInvoiceSearch" id="invoiceSearch" placeholder="بحث برقم الفاتورة او اسم العميل"
            (change)="changAddInvoiceBtn()">
        <datalist id="datalistInvoiceSearch">
            <option *ngFor="let invoice of _theStockComp.addInvArry" value="{{invoice.invoiceSearchVal}}">
            </option>
        </datalist>
        <button class="btn btn-outline-info ml-2" type="submit" id="callInvoiceBtn" (click)="showAddNewInvoice()">فاتورة
            جديدة</button>
    </div>

    <div id="addInvoiceForm">
        <div class="d-flex justify-content-between">
            <h2 class="cardHeader p-2">فاتورة شراء</h2>
            <!--<div>{{_service.date_time}}</div>-->
            <!--<div class="text-center">رقم الفاتورة ( {{invNum}} )</div>-->
            <input disabled id="invNum" class="text-center" type="text" value="رقم الفاتورة ( {{invNum}} )">
            <input [(ngModel)]='date_time' type="datetime-local" (change)="dateChanged()">
            <button id="deleteAddInvoice" style="display: none;" class="btn btn-outline-danger printX"
                [disabled]='deleteInvBtnDisabled' (click)="showDeleteAddInvoice()">حذف
                الفاتورة</button>
        </div>
        <hr>
        <!--[formGroup]='addToStockPremData'-->
        <form (ngSubmit)="addToStockPrem()">
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <input id="stockTransactionId" name='stockTransactionId' [(ngModel)]="stockTransactionId" class="d-none">
                    <div class="form-row">
                        <!--stockName-->
                        <div class="col m-2">
                            <label for="stockNameForAdd">اسم المخزن</label>
                            <select class="form-control p-1" id="stockNameForAdd" (change)="stockChanged()"
                                name="thestockName" [(ngModel)]="thestockName">
                                <option *ngFor="let stock of _stockService.stocks">{{stock.stockName}}</option>
                            </select>
                            <div *ngIf="stockNameVaild" class="text-danger pr-1 vaildAlert">لايوجد هذا المخزن</div>
                        </div>
                        <!--customerName-->
                        <div class="col m-2">
                            <label for="customerNameForAdd">اسم المورد</label>
                            <input type="search" name="theCustomerName" [(ngModel)]='theCustomerName'
                                id="customerNameForAdd" (change)="isCustomerVaild()"
                                class="form-control mdb-autocomplete p-1 {{custClass}}" list="datalistCustomer">
                            <datalist id="datalistCustomer">
                                <option *ngFor="let customer of customerCss" value="{{customer.name}}">
                                </option>
                            </datalist>
                            <div *ngIf="customerVaild" class="text-danger">{{custVaildMsg}}</div>
                        </div>
                        <div class="col m-2">
                            <label for="addInvoiceNote">ملاحظات</label>
                            <input class="form-control p-1" name="theInvoiceNote" [(ngModel)]="theInvoiceNote" id="addInvoiceNote">
                        </div>
                    </div>
                    <div class="text-center m-2" id="printAddPremBtn">
                        <i class="fa fa-print btn p-3 btn-outline-secondary text-center" (click)='printThis()'></i>
                    </div>
                </div>
            </div>
            <!--inpts - " -->
            <div class="panel-body panel-flex-table invoiceTable" style="height: 530px;" id="addPrimTable">
                <table class="flex-table table">
                    <thead class="navHeader text-white">
                        <tr>
                            <th style="flex: none; width: 50px">م</th>
                            <th>اسم الصنف</th>
                            <th>العدد</th>
                            <th>السعر</th>
                            <th class="text-center">الاجمالى</th>
                        </tr>
                    </thead>
                    <tbody class=" mt-3 tableBody">
                        <tr *ngFor="let inpt of invoiceInpArry; let i = index">
                            <td style="flex: none; width: 50px;" class="pt-4">{{i + 1}}</td>
                            <td>
                                <input type="search" name="product{{i}}" [(ngModel)]="inpt.product" id="product{{i}}"
                                    class="form-control mdb-autocomplete" list="datalist1" (change)="isAddNameVaild(i)"
                                    [disabled]="inptDisabled">
                                <datalist id="datalist1">
                                    <option *ngFor="let product of _stockService.allProducts"
                                        value="{{product.productName}}"></option>
                                </datalist>
                                <div *ngIf="inpt.inpVaild" class="text-danger vaildAlert">{{inpt.productVaildMsg}}</div>
                            </td>
                            <td><input type="number" name="qty{{i}}" [(ngModel)]="inpt.qty" class="form-control"
                                    id="qty{{i}}" (change)="calcTotals()" [disabled]="inptDisabled">
                                <div *ngIf="inpt.Qtyinvaild" class="text-danger vaildAlert">لا يوجد رصيد لهذا الصنف
                                </div>
                            </td>
                            <td><input type="number" name="price{{i}}" [(ngModel)]="inpt.price" class="form-control"
                                    (keyup)="calcTotals()" [disabled]="inptDisabled">
                            </td>
                            <td class="text-center font-weight-bold">{{inpt.total}}</td>
                            <input name="stockTransactionDetailsId{{i}}" [(ngModel)]="inpt.stockTransactionDetailsId"
                                class="d-none">
                        </tr>
                        <div id="addFilds" class="btn btn-dark my-2 mr-1 printX" style="width: 50px;"
                            (click)="addFilds()">+
                        </div>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-inline">
                    <button [disabled]="isAddInvVaild" class="btn btn-outline-primary mb-1 mt-3 printX" type="submit"
                        id="addNewInvoicetBtn"></button>
                </div>
                <div class="form-inline ml-5  mt-3 darkBg text-light py-2 rounded">
                    <h5 class="text-light pr-3">اجمالى الفاتورة : </h5>
                    <h5 class="text-light mr-2 pl-3" id="invoiceTotal">{{invoiceTotal}}</h5>
                </div>
            </div>
        </form>
        <button class="btn btn-success mx-2 d-none" id="testBtnP" (click)='testBtn()'>test</button>
    </div>
</div>