<div class="navHeader theNav" id="mainSettingHeader">
    <nav class="navbar">
        <div class="form-inline">
            <h1 class="px-2" style="font-weight: bold;">الاعدادات العامة</h1>
            <div class="headerLeftBorder"></div>
            <button style="font-size: 1.5em;" class="btn btn-outline-secondary ml-2 mx-2 headerMainBtn"
                id="showUserSettings" (click)="showUserSettings()" disabled>اعدادات المستخدمين</button>
            <!-- <button class="btn btn-light ml-2 mx-2 headerMainBtn" id="showAddSafeBtn"
                (click)="showAddSafe()">اضافة خزنة</button>
            <button class="btn btn-light ml-2 mx-2 headerMainBtn" id="showAddSafeReceipt"
                (click)="showAddSafeReceipt()">ايصال نقدية</button> -->
        </div>
    </nav>
</div>
<!-- userSettings -->
<app-user-setting id="userSettings" class="settingClass mainContainer" style="display: block;"></app-user-setting>