/* You can add global styles to this file, and also import other style files */

@import 'scss/varibals.scss';
@import 'scss/nav.scss';
@import 'scss/btns.scss';
@import 'scss/backgrounds.scss';
@import 'scss/tables.scss';
@import 'scss/card.scss';
@import 'scss/input.scss';
@import 'scss/loader.scss';
@import 'scss/print.scss';

* {
  font-family: "Droid Arabic Kufi", sans-serif;
  text-align: right;
  direction: rtl;
}

body {
  background-color: rgb(228, 230, 235);
  position: relative;
  //background-color: white;
}

.fadeLayer {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: $onTheTop; //500;
}

h5 {
  line-height: 1.75;
}

.mainContainer {
  padding: 0px 20px;
}

.dropDownItemBorder {
  border-bottom: solid 1px black;
}

.headerLeftBorder {
  width: 2px;
  background-color: $darkBg;
  height: 60px;
}

label {
  color: rgb(72, 143, 199);
}

.mdFlex {
  flex: 2;
}

.nonFlex {
  flex: none;
}

body .wideScreen {
  position: absolute;
  top: 5;
  bottom: 5;
  left: 0;
  right: 0;
}

.askForDelete {
  width: 30%;
  margin: auto;
  margin-top: 10%;
  z-index: 1000;
  background-color: white;
  transform: scale(0.75);
  transition: 0.09s;
}
.askForDelete.animate {
  transform: scale(1);
}

.bottomBorder {
  border-bottom: solid 1px black;
}

.settinLable {
  font-weight: bold;
}

.bigNum {
  letter-spacing: 3px;
}

