.darkBg {
  background-color: $darkBg;
  color: white;
}

.lightBg {
  color: black;
  background-color: $lightBg;
}

.smokeBg {
  color: black;
  background-color: rgb(228, 228, 228);
}

.darkGrayBg {
  background-color: rgb(202, 202, 202);
  color: black;
}
