$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

//backGround Colors
$lightBg: rgba(72, 144, 199, 0.24);
$primaryBg: #037ac4; //rgb(72, 143, 199); //
$darkBg: #05529c; //rgb(22, 76, 117);
$infoBg: rgb(2, 107, 121);

//position
$onTheTop: 99999999999999;

//mediaWidth
$maxMediam: 992px;