$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

//backGround Colors
$lightBg: rgba(72, 144, 199, 0.137);
$primaryBg: #0277bd;//037ac4; //rgb(72, 143, 199); //
$darkBg: #1d3557; //05529c; //rgb(22, 76, 117);
$infoBg: rgb(2, 107, 121);
$dangerBg: #e0455fe3;//rgb(167, 72, 76);

//position
$onTheTop: 99999999999999;

//mediaWidth
$maxMediam: 992px;