$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

//backGround Colors
$lightBg: rgba(72, 144, 199, 0.137);
$primaryBg: #0278bdda;//#0277bd;
$darkBg: #1d3557;
$infoBg: rgb(2, 107, 121);
$dangerBg: #e0455fe3;

//position
$onTheTop: 99999999999999;

//mediaWidth
$maxMediam: 992px;