<div class="container mt-5 pt-5">
    <div class="pt-5" id="homeLogo">
        <img class="rounded mx-auto d-block" src="../../assets/programLogo.png" alt="">
    </div>
</div>
<div class="container mt-3" id="hint">
    <div id='welcomeForm'>
        <div class="form-inline"  style="direction: ltr; margin: auto;">
            <h3>press</h3>
            <h3 class="textPrimary px-1" style="letter-spacing: 5px;">f2</h3>
            <h3>to step forward</h3>
        </div>
    </div>

</div>
<footer class="p-1">
    <div class="px-3">
        <div class="d-flex justify-content-between">
            <div class="form-inline ml-2" style="direction: ltr;">
                <p class="text-white" style="font-weight: bold;">powerd by</p>
                <p class="text-white px-1">Mohammed-Fakhry</p>
            </div>
            <div class="form-inline">
                <!-- <p class="text-white pl-5" style="direction: ltr;"><i class="fa fa-whatsapp"> 01100703075</i></p> -->
                <p class="textBtn text-white">
                    <a href="https://www.facebook.com/mohammed.fakhry" target="_blank">
                        mohammed.fakhry
                        <i class="fa fa-facebook-square fa-lg text-white pr-2"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>