<div class="container shadow card p-2" style="margin-top: 90px;">
    <div>
        <button class="btn btn-primary m-2"><i class="fa fa-users fa-lg"></i><br>العملاء</button>
        <button class="btn btn-primary m-2" routerLink="/workers"><i class="fa fa-user fa-lg"></i><br>العاملين</button>
        <button class="btn btn-primary m-2" routerLink="/unites"><i class="fa fa-building fa-lg"></i><br>الوحدات</button>
    </div>
</div>
<div class="container shadow card">
    <form action="handleUplod.php" method="post" enctype="multipart/form-data">
        <input type="file" name="img">
        <br>
        <input type="submit" value="upload">
    </form>
</div>