<!--fadeLayer-->
<div class="fadeLayer">
    <!--askForDelete-->
    <div class="container p-3 card askForDelete" style="display: none;">
        <h3 class="p-3 bg-danger text-light">هل انت متأكد من حذف</h3>
        <hr>
        <h4 class="mb-4">{{customerData.value.customerName}}</h4>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-danger mr-2" id="deletCustomer" (click)="deletCustomer()">نعم</button>
            <button class="btn btn-outline-info" id="hideFadeLayer">الغاء</button>
        </div>
    </div>
    <!--app-customer-inv-detail-->
    <div class="container p-3 mt-5 card sticky-top" id="customerInvDetail" style="display: none;">
        <app-customer-inv-detail></app-customer-inv-detail>
        <div>
            <button class="btn btn-danger mt-2" id="hideInvDet">اخفاء</button>
        </div>
    </div>

</div>
<!--customerHeader-->
<div class="container-fluid navHeader p-3 card mt-3 sticky-top" id="customerHeader">
    <nav class="navbar">
        <div class="form-inline">
            <button class="btn btn-outline-success d-none" (click)='makeCustomerInvArry()'>test</button>
            <h1 class="px-2" style="font-weight: bold;">العملاء</h1>
            <div class="headerLeftBorder"></div>
            <button class="btn btn-outline-info mx-2" style="height: 70px;" id="showAddCustomerBtn"
                (click)="ShowAddNewCustomer()">اضافة</button>
            <button class="btn btn-outline-secondary mx-2" style="height: 70px; font-size: 1.5em;"
                id="customerEnquirybtn" (click)="showCustomerEnquiry()">استعلام</button>
            <div class="headerLeftBorder"></div>
            <div class="col text-center" id="printCustomerList">
                <input *ngIf="router.url === '/customers'" [(ngModel)]="searchCust" placeholder="بحث"
                class="form-control mx-3" id="searchCust">
                <i class="fa fa-print btn p-3 btn-light text-center" (click)='printThisCustomerList()'></i>
            </div>
        </div>
    </nav>
</div>
<!--customerEnquiry-->
<div style="display: none; position: fixed; top: 10px; right: 10px;" class="closeBtn fixed-top">
    <button class="btn btn-outline-danger" id="reloadLoc" (click)='reloadLoc()'>X</button>
    <button  class="btn btn-outline-secondary mr-2" (click)='openwindowPrint()'><i class="fa fa-print"></i></button>
    
</div>
<div class="container-fluid card  mt-3 p-5 customerClass" id="customerEnquiry">
    <div class="panel-body panel-flex-table" id="customerListTable">
        <table class="flex-table  table table-hover">
            <thead class="navHeader text-light">
                <tr>
                    <th>الاسم</th>
                    <th>حساب</th>
                    <th>تليفون</th>
                    <!--<th class="d-none">الوحدة</th>-->
                    <!--<th class="d-none">تاريخ التعاقد</th>-->
                    <th class="HideCol">بيانات</th>
                    <th class="HideCol">تعديل</th>
                    <th class="HideCol">حذف</th>
                </tr>
            </thead>
            <tbody class="mt-3">
                <tr *ngFor="let customer of customers|searchCustomer:searchCust; let i=index">
                    <td>{{customer.customerName}}</td>
                    <td class="{{customerRemainColor}}">{{customer.customerRemain}}</td>
                    <td>{{customer.customerTell}}</td>
                    <!--<td class="d-none">{{customer.customerUnit}}</td>-->
                    <!--<td class="d-none">{{customer.customerDateIN}}</td>-->
                    <td class="HideCol"><button class="btn btn-outline-secondary ml-2" id="showCustomerCard"
                            (click)="showCustomerCard(customer)"><i class="fa fa-id-card"></i></button></td>
                    <td class="HideCol"><button class="btn btn-outline-success ml-2" id="showUpdatecustomer"
                            (click)="showUpdateCustomer(customer)"><i class="fa fa-edit"></i></button></td>
                    <td class="HideCol"><button class="btn btn-danger ml-2" id="askDeletcustomerBtn" (click)="askForDelete(customer)"><i
                                class="fa fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--addCustomer-->
<div class="container-fluid  mt-3 card inpCard customerClass" id="addCustomer" style="display: none;">
    <div class="p-3">
        <h2 class="pb-3 cardHeader" style="border-bottom: solid 1.5px teal;">اضافة بيانات عميل</h2>
        <form [formGroup]='customerData' (ngSubmit)="addNewCustomer()" class="pt-3">
            <div class="row">
                <input formControlName="customerId" id="customerId" class="form-control d-none">
                <div class="form-group col-md-6">
                    <label>الاسم</label>
                    <input formControlName="customerName" id="customerName" class="form-control">
                    <!--[(ngModel)]="customerDataView.customerName"-->
                </div>
                <div class="form-group col-md-6">
                    <label>تليفون</label>
                    <input formControlName="customerTell" id="customerTell" class="form-control">
                    <!--[(ngModel)]="customerDataView.customerTell"-->
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>العنوان</label>
                    <input formControlName="customerAdd" id="customerAdd" class="form-control">
                    <!--[(ngModel)]="customerDataView.customerAdd"-->
                </div>
                <div class="form-group col-md-6">
                    <label>تاريخ التعاقد</label>
                    <input formControlName="customerDateIN" id="customerDateIN" class="form-control">
                    <!--[(ngModel)]="customerDataView.customerDateIN"-->
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>الوحدة</label>
                    <input formControlName="customerUnit" id="customerUnit" class="form-control">
                    <!--[(ngModel)]="customerDataView.customerUnit"-->
                </div>
                <div class="form-group col-md-6">
                    <label>رصيد اول</label>
                    <input formControlName="customerPaid" id="customerPaid" class="form-control">
                    <!--[(ngModel)]="customerDataView.customerUnit"-->
                </div>

            </div>
            <button class="btn btn-outline-primary ml-2" type="submit" id="addNewCustomerBtn"></button>
        </form>
    </div>
</div>
<!--customerDetails-->
<div class="container-fluid card mt-3 customerClass" id="customerDetails" style="display: none;">
    <div class="card-body">
        <h3 class="card-title cardHeader">{{customerData.value.customerName}}</h3>
        <h5 class="card-text pb-3" style="border-bottom: solid 1.5px teal;">{{customerData.value.customerTell}}</h5>
        <!---->
        <div class="form-inline mt-3">
            <h5 class="cardHeader">العنوان : </h5>
            <h5 class="mr-2">{{customerData.value.customerAdd}}</h5>
        </div>
        <hr class="text-center">
        <!---->
        <div class="form-inline">
            <h5 class="cardHeader">الوحدة : </h5>
            <h5 class="mr-2">{{customerData.value.customerUnit}}</h5>
        </div>
        <hr class="text-center">
        <!---->
        <div class="row">
            <div class="col-md-4">
                <div class="form-inline">
                    <h5 class="cardHeader">تاريخ التعاقد : </h5>
                    <h5 class="mr-2">{{customerData.value.customerDateIN}}</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <h5 class="cardHeader">رصيد اول : </h5>
                    <h5 class="mr-2">{{customerData.value.customerPaid}}</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <h5 class="cardHeader">اجمالى مستحق : </h5>
                    <h5 class="mr-2">{{customerData.value.customerRemain}}</h5>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>
<!--customerInvDetails-->
<div class="container-fluid card  mt-3 p-5 customerClass" id="customerInvDetails" style="display: none;">
    <div class="row">
        <div class="col">
            <h3 class="card-title cardHeader">حساب {{customerData.value.customerName}}</h3>
        </div>
        <div class="col">
            <i class="fa fa-print btn p-3 btn-light text-center" (click)='printThis()'></i>
        </div>
    </div>
    <div class="panel-body panel-flex-table mt-2" id="printCustomerInvArr">
        <table class="flex-table table table-hover text-center">
            <thead class="navHeader text-light text-center">
                <tr>
                    <th style="flex: none; width: 275px">التاريخ</th>
                    <th class="custDet" style="flex: none; width: 100px">تفاصيل الفاتورة</th>
                    <th style="flex: n; width: 100px">رقم الفاتورة</th>
                    <th class="text-center">دائن</th>
                    <th class="text-center">مدين</th>
                    <th class="text-center">صافى</th>
                    <th style="flex: 2">ملاحظات</th>
                </tr>
            </thead>
            <tbody class=" mt-3 tableBody">
                <tr *ngFor="let invoice of customerInvArry; let i=index">
                    <td style="flex: none; width: 275px">
                        <input disabled value="{{invoice.date_time}}" type="datetime-local">
                    </td>
                    <td class="text-center" style="flex: none; width: 100px" class="custDet"><button
                            class="btn btn-outline-secondary" id="showCustomerInvoice"
                            (click)="showCustomerInvoice(invoice)"><i class="fa fa-id-card"></i></button></td>
                    <td style="flex: 1; width: 100px" id="invoiceNum{{i}}" class="{{invoice.invKindColor}}">
                        {{invoice.invoiceKind}} رقم :
                        {{invoice.invoiceNum}}</td>
                    <td class="text-center" id="invoiceTotalAdd{{i}}">{{invoice.invoiceTotalAdd}}</td>
                    <td class="text-center" id="invoiceTotalMin{{i}}">{{invoice.invoiceTotalMin}}</td>
                    <td id="netTotal{{i}}" class="{{invoice.netTotalColor}} lightBg text-center">{{invoice.netTotal}}
                    </td>
                    <td style="flex: 2" id="notes{{i}}" class="{{invoice.notes}}">{{invoice.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>