<!--fadeLayer-->
<div class="fadeLayer" id="customerFadeLayer">
    <!--askForDelete-->
    <div class="container p-3 card askForDelete" style="display: none;">
        <h3 class="p-3 alert dangerBg">هل انت متأكد من حذف</h3>
        <h4 class="mb-4">{{customerData.value.customerName}}</h4>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-danger mr-2" id="deletCustomer" (click)="deletCustomer()">نعم</button>
            <button class="btn btn-outline-info" id="hideFadeLayer">الغاء</button>
        </div>
    </div>
    <!--app-customer-inv-detail-->
    <div class="container p-3" id="customerInvDetail" style="display: none; margin-top: 5rem;">
        <app-customer-inv-detail></app-customer-inv-detail>
    </div>
</div>
<!--customerHeader-->
<!-- style="height: 70px;" -->
<div class="navHeader theNav" id="customerHeader">
    <nav class="navbar">
        <div class="form-inline">
            <button class="btn btn-outline-success d-none" (click)='makeCustomerInvArry()'>test</button>
            <h1 class="px-2" style="font-weight: bold;">موردين المخازن</h1>
            <div class="headerLeftBorder"></div>
            <button class="btn btn-light mx-2" id="showAddCustomerBtn" (click)="ShowAddNewCustomer()">اضافة</button>
            <button class="btn btn-light mx-2" id="customerEnquirybtn" (click)="setCustomerRemain()">استعلام</button>
            <div class="headerLeftBorder"></div>
            <div class="col text-center" id="printCustomerList" style="display: none;">
                <input *ngIf="router.url === '/customers'" type="search" [(ngModel)]="searchCust"
                    placeholder="بحث باسم العميل" class="form-control mx-3" id="searchCust">
                <i class="fa fa-print btn py-2 btn-outline-light text-center" (click)='printThisCustomerList()'
                    style="height: calc(1.5em + .75rem + 2px);"></i>
            </div>
        </div>
    </nav>
</div>
<!--customerEnquiry-->
<div class="mainContainer">
    <input style="display: none; margin-right: 20%;" disabled value="{{_service.date_time}}" type="datetime-local"
        class="date_time">
    <div class="card mt-3 customerClass printable" id="customerEnquiry">
        <!-- style="height: 930px;" -->
        <div class="panel-body panel-flex-table" id="customerListTable">
            <table class="flex-table table table-hover">
                <thead class="navHeader text-light">
                    <tr>
                        <th style="flex: 1.5;">الاسم</th>
                        <th>حساب</th>
                        <!-- <th>تليفون</th> -->
                        <!--<th class="d-none">الوحدة</th>-->
                        <!--<th class="d-none">تاريخ التعاقد</th>-->
                        <!-- <th class="HideCol">بيانات</th> -->
                        <th class="HideCol">تعديل</th>
                        <th class="HideCol" style="display: none;">حذف</th>
                    </tr>
                </thead>
                <tbody class="mt-3">
                    <tr *ngFor="let customer of custRemainArry|searchCustomer:searchCust; let i=index">
                        <td class="{{customer.nameColor()}} textBtn" id="showCustomerCard"
                            (click)="showCustomerCard(customer)" style="flex: 1.5;">{{customer.customerName}}</td>
                        <td id="remain{{i}}" class="{{customer.color()}}">{{customer.remain()}}</td>
                        <!-- <td>{{customer.customerTell}}</td> -->
                        <!--<td class="d-none">{{customer.customerUnit}}</td>-->
                        <!--<td class="d-none">{{customer.customerDateIN}}</td>-->
                        <!-- <td class="HideCol"><button class="btn btn-outline-secondary ml-2" id="showCustomerCard"
                                (click)="showCustomerCard(customer)"><i class="fa fa-id-card"></i></button></td> -->
                        <td class="textBtn btn-outline-success ml-2 HideCol" id="showUpdatecustomer"
                            (click)="showUpdateCustomer(customer)"><i class="fa fa-edit"></i></td>
                        <td class="textBtn btn-outline-danger ml-2 HideCol" aria-disabled="true"
                            id="askDeletcustomerBtn" (click)="askForDelete(customer)" style="display: none;"><i
                                class="fa fa-trash"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--addCustomer-->
    <div class="mt-3 card inpCard customerClass" id="addCustomer">
        <div class="p-3">
            <h2 class="pb-3 cardHeader" style="border-bottom: solid 1.5px rgb(26, 51, 70);">اضافة بيانات عميل</h2>
            <form [formGroup]='customerData' (ngSubmit)="addNewCustomer()" class="pt-3">
                <div class="row">
                    <input formControlName="customerId" id="customerId" class="form-control d-none">
                    <div class="form-group col-md-6">
                        <label>الاسم</label>
                        <input formControlName="customerName" id="customerName" class="form-control">
                        <!--[(ngModel)]="customerDataView.customerName"-->
                    </div>
                    <div class="form-group col-md-6">
                        <label>تليفون</label>
                        <input formControlName="customerTell" id="customerTell" class="form-control">
                        <!--[(ngModel)]="customerDataView.customerTell"-->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>العنوان</label>
                        <input formControlName="customerAdd" id="customerAdd" class="form-control">
                        <!--[(ngModel)]="customerDataView.customerAdd"-->
                    </div>
                    <div class="form-group col-md-6">
                        <label>رصيد اول</label>
                        <input formControlName="customerPaid" id="customerPaid" class="form-control">
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <label>تاريخ التعاقد</label>
                        <input formControlName="customerDateIN" id="customerDateIN" class="form-control">
                    </div> -->
                </div>
                <!-- <div class="row">
                    <div class="form-group col-md-6">
                        <label>الوحدة</label>
                        <input formControlName="customerUnit" id="customerUnit" class="form-control">
                    </div>
                    
                </div> -->
                <button class="btn btnPrimary ml-2" type="submit" id="addNewCustomerBtn"></button>
            </form>
        </div>
    </div>
    <!--customerDetails-->
    <div class="card mt-3 customerClass" id="customerDetails">
        <div class="card-body">
            <h3 class="card-title cardHeader">{{customerData.value.customerName}}</h3>
            <h5 class="card-text pb-3" style="border-bottom: solid 1.5px rgb(26, 51, 70);">
                {{customerData.value.customerTell}}</h5>
            <!---->
            <div class="form-inline mt-3">
                <h5 class="cardHeader">العنوان : </h5>
                <h5 class="mr-2">{{customerData.value.customerAdd}}</h5>
            </div>
            <hr class="text-center">
            <!---->
            <div class="form-inline">
                <h5 class="cardHeader">الوحدة : </h5>
                <h5 class="mr-2">{{customerData.value.customerUnit}}</h5>
            </div>
            <hr class="text-center">
            <!---->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-inline">
                        <h5 class="cardHeader">تاريخ التعاقد : </h5>
                        <h5 class="mr-2">{{customerData.value.customerDateIN}}</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-inline">
                        <h5 class="cardHeader">رصيد اول : </h5>
                        <h5 class="mr-2">{{customerData.value.customerPaid}}</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-inline">
                        <h5 class="cardHeader">اجمالى مستحق : </h5>
                        <h5 class="{{customerRemainColor}} mr-2" id="customerRemain">
                            {{customerData.value.customerRemain}}
                        </h5>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <!--customerInvDetails-->
    <div class="card  mt-3 customerClass printable" id="customerInvDetails">
        <div class="d-flex justify-content-around">
            <h3 class="card-title cardHeader">حساب {{customerData.value.customerName}}</h3>
            <div class="form-inline">
                <h5 class="cardHeader">اجمالى مستحق : </h5>
                <h5 class="{{customerRemainColor}} mr-2" id="customerRemain">{{customerData.value.customerRemain}}</h5>
            </div>
            <div id="balanceContain" class="infoCard textBtn pt-2" style="display: none; border-radius: 5px;"
                (click)="clearMarkedCells()">
                <div id='balanceInfo'>
                    <div class="d-flex justify-content-between">
                        <h5 class="px-2">ميزان</h5>
                        <h5 id="balance" class="px-3">{{balance}}</h5>
                    </div>
                </div>
                <h3 id="cancelBalance" class="text-center text-danger" style="display: none;">الغاء</h3>
            </div>
            <i class="fa fa-print btn p-3 btn-outline-secondary text-center" (click)='printThis()'></i>
        </div>
        <!-- style="height: 780px;" -->
        <div class="panel-body panel-flex-table mt-2 tableWithHeader" id="printCustomerInvArr">
            <table class="flex-table table table-hover text-center">
                <thead class="navHeader text-light text-center">
                    <tr>
                        <th style="flex: 1.5;">التاريخ</th>
                        <th class="custDet HideCol" style="flex: .3;">تفاصيل</th>
                        <th style="flex: 3;">رقم الفاتورة</th>
                        <th class="text-center">دائن</th>
                        <th class="text-center">مدين</th>
                        <th class="text-center">صافى</th>
                        <th style="flex: 3;">ملاحظات</th>
                    </tr>
                </thead>
                <tbody class=" mt-3 tableBody">
                    <tr *ngFor="let invoice of customerInvArry; let i=index">
                        <td style="flex: 1.5;">
                            {{invoice.date}}
                            <!-- <input disabled value="{{invoice.date_time}}" type="datetime-local"> -->
                        </td>
                        <!-- <td class="text-center" style="flex: .3;" class="custDet"><i
                                class="fa fa-id-card btn btn-outline-secondary {{invoice.hideBtn}}"
                                id="showCustomerInvoice" (click)="showCustomerInvoice(invoice)"></i></td> -->
                        <td class="custDet HideCol" style="flex: .3; padding: 0;"><i
                                class="fa fa-id-card text-center py-2 {{invoice.hideBtn}} textBtn btn-outline-secondary"
                                (click)="showCustomerInvoice(invoice)"
                                style="width: 100%; height: 100%; margin: auto;"></i>
                        </td>
                        <td style="flex: 3;" id="invoiceNum{{i}}" class="{{invoice.invKindColor}}">
                            {{invoice.invoiceKind}} رقم :
                            {{invoice.invoiceNum}}</td>
                        <td class="text-center invCell" id="invoiceTotalAdd{{i}}"
                            (click)='markCell(i, "invoiceTotalAdd")'>{{invoice.invoiceTotalAdd}}</td>
                        <td class="text-center invCell" id="invoiceTotalMin{{i}}"
                            (click)='markCell(i, "invoiceTotalMin")'>{{invoice.invoiceTotalMin}}</td>
                        <td id="netTotal{{i}}" class="{{invoice.netTotalColor}} text-center">
                            {{invoice.netTotal}}
                        </td>
                        <td id="notes{{i}}" class="{{invoice.notes}}" style="flex: 3;">{{invoice.notes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>