#askForDelete {
    display: none;
    width: 30%;
    margin-top: 10%;
    z-index: 1000;
    background-color: white;
}

#minFrmStockPrem {
    // display: none;
     margin-top: 10%;
     z-index: 1000;
     background-color: white;
     transform: scale(.75);
     transition: .09s;
 }
 #minFrmStockPrem.animate {
     transform: scale(1);
 };

 .customerClass {
     display: none;
 }

 /* #showCustomerInvoice {
     border: none;
     //height: 30px;
 } */

 #customerInvDetails tbody td {
    height: 40px;
 };

 #customerInvDetail {
    transform: scale(.75);
    transition: .09s;
 };

 #customerInvDetail.animate {
    transform: scale(1);
 }

 .invCell:hover {
    cursor: grab;
 }

 #balanceContain {
    box-sizing: border-box;
    width: 170px;
}

